.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.container{
  height: 550px;
  width: 1100px;
  border-radius: 30px;
  background-color: #232323;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;

}

.pickAvatarContainer{
  width: 550px;
  height: 400px;
  border-radius: 30px;
  background-color: #4b4b4b;

  display: grid;

  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
  align-content: center;
  gap: 20px;

}



.arrow{

  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none ;
  border: none;
  cursor: pointer;

}

.arrow-next{
  right: 30px;
}

.arrow-prev{
  left: 420px;
}

.saveButton{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #A21CBC;
  border-color: transparent;
  color: #FFFFFF;
  cursor: pointer;

}

.cancelButton{
  color: #FFFFFF;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;

}

.saveButton:hover{
  background-color: #c31ce5;
}

.cancelButton:hover{
  background-color: #5e5e5e;
}

.buttonContainer {
  display: flex;
  gap: 50px;
}

.avatarSelectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.selectedAvatarImage{
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.avatar-item{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.grid-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
