.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.container{
  height: 550px;
  width: 1100px;
  border-radius: 30px;
  background-color: #232323;

  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;

}

.pickAvatarContainer{
  width: 550px;
  height: 400px;
  border-radius: 30px;
  background-color: #4b4b4b;

  display: grid;

  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
  align-content: center;
  gap: 20px;


}



.arrow{

  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;

  background: none ;
  border: none;
  cursor: pointer;

}

.saveButton{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #A21CBC;
  border-color: transparent;
  color: #FFFFFF;
  cursor: pointer;

}

.cancelButton{
  color: #FFFFFF;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;

}

.saveButton:hover{
  background-color: #c31ce5;
}

.cancelButton:hover{
  background-color: #5e5e5e;
}

.buttonContainer {
  display: flex;
  gap: 50px;
}

.avatarSelectionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}



// da cancellare in seguito per mettere le vere immagini

.selectedAvatar{
  background-color: #FFFFFF;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}


.a1{
  background-color: #FFFFFF;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}

.a2{
  background-color: #884c4c;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}

.a3{
  background-color: #215470;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}

.a4{
  background-color: #7f2e9b;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}

.a5{
  background-color: #b7cb6d;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}

.a6{
  background-color: #40b290;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;

}
