.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContainer {
  width: 90%;
  max-width: 600px;
  background-color: #2b2b2b;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
  font-size: 40px;
  margin: 0;
}

.subTitle {
  font-family: 'Inconsolata', monospace;
  color: #FFFFFF;
  font-size: 20px;
  margin: 0;
}

.inputField {
  height: 40px;
  padding: 0 15px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #4c4c4c;
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  border: none;
  outline: none;
  transition: box-shadow 0.2s;
}

.inputField::placeholder {
  color: #8e8e8e;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 15px;
}

.confirmButton,
.cancelButton {
  height: 36px;
  padding: 0 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
}

.confirmButton {
  background-color: #A21CBC;
}

.confirmButton:hover {
  background-color: #c31ce5;
}

.cancelButton {
  background-color: #4c4c4c;
}

.cancelButton:hover {
  background-color: #5e5e5e;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  gap: 30px
}
