

  <div class="popUpOverlay">
    <div class="popupContainer">
    <p class="title">Change your Password</p>
    <p class="subTitle">To set a new password, please enter your current
      password followed by your new password.</p>
    <p class="subTitle">For security, choose a strong password</p>

    <div class="auth-input-group">
      <input type="password" placeholder="Current Password" class="auth-input-field">
      <input type="password" placeholder="New Password" class="auth-input-field">
      <input type="password" placeholder="Confirm new Password" class="auth-input-field">

    </div>

    <div class="buttonGroup">
    <button class="confirmButton">Confirm</button>
    <button class="cancelButton" (click)="closePopUp()">Cancel</button>
    </div>

  </div>
</div>

