.popUpOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.popupContainer{
  margin: 0 auto;
  height: 500px;
  width: 700px;
  background-color: #2b2b2b;
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title{
  font-family: Inconsolata , monospace;
  color: #FFFFFF;
  font-size: 40px;
  margin: 0;
}

.subTitle{
  font-family: Inconsolata , monospace;
  color: #FFFFFF;
  font-size: 24px;
  margin: 0;
}



