

  <div class="popUpOverlay">
    <div class="popupContainer">
    <p class="title">Change your Password</p>
    <p class="subTitle">To set a new password, please enter your current
      password followed by your new password.</p>
    <p class="subTitle">For security, choose a strong password</p>

    <div class="inputContainer">
      <input type="password" placeholder="Current Password" class="inputField">
      <input type="password" placeholder="New Password" class="inputField">
      <input type="password" placeholder="Confirm new Password" class="inputField">

    </div>

    <div class="buttonContainer">
    <button class="confirmButton" type="button">Confirm</button>
    <button class="cancelButton"  type="button"  (click)="closePopUp()">Cancel</button>
    </div>

  </div>
</div>

