.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~
.vscode/
.idea/
*.iml
*.ipr
*.iws

#Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#Maven & Java build
.mvn/
out/
*.class
*.jar
*.war
*.ear

#Spring/Temp/PID files
spring.log
*.pid
*.seed
*.tmp
*.bak

#IntelliJ/STS
.apt_generated
.factorypath
.project
.settings/
.springBeans
.sts4-cache

#NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

#Local configuration (per non condividere credenziali)
application-local.yml
application-local.properties
.env
.env.*

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.sass-cache/
frontend/.tmp/
frontend/coverage/
frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.pnp*
frontend/.pnp.js

#Environment files Angular
frontend/src/environments/environment.*.ts

#db
dbdata/
postgres-data/

#PostgreSQL
#*.sql
*.dump

#Windows Thumbnails
ehthumbs.db
Icon?

#JetBrains HTTP requests
httpRequests/

#Temporary/cache/backup
.cache/
tmp/
temp/
*.bak
*.old
