.home-container {
  margin: 0;
  background: rgba(61, 60, 60, 0.9) linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 31%,
      rgba(162, 28, 188, 0.8) 67%
  );
  background-blend-mode: overlay;
  color: white;
  font-family: "Inconsolata";
}
