<nav class="navbar">
  <div class="navbar-links">
    <a routerLink="/" class="nav-item">
      <img src="../../../assets/images/homeimage.png" alt="Home icon" class="nav-icon">
      <span class="nav-link">Home</span>
    </a>
    <a routerLink="/" class="nav-item">
      <img src="../../../assets/images/coursesimage.png" alt="Courses icon" class="nav-icon">
      <span class="nav-link">Courses</span>
    </a>
    <a routerLink="/" class="nav-item">
      <img src="../../../assets/images/exerciseimage.png" alt="Exercise icon" class="nav-icon">
      <span class="nav-link">Exercise</span>
    </a>
    <a routerLink="/" class="nav-item">
      <img src="../../../assets/images/rankingimage.png" alt="Ranking icon" class="nav-icon">
      <span class="nav-link">Ranking</span>
    </a>
  </div>
  <a routerLink="/login" class="nav-link login-btn">Login</a>
</nav>
