.navbar {
  display: flex;
  align-items: center;
  padding: 1.2rem 4rem;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Questo fa sì che il contenitore dei link occupi tutto lo spazio
     disponibile, permettendo la centratura dei suoi figli. */
  flex-grow: 1;
}

.nav-link {
  color: #aaa;
  margin: 0 1.2rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  background: linear-gradient(90deg, #a56cff, #d892ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Stile specifico per il pulsante di login */
.login-btn {
  /* La magia è qui: spinge il pulsante tutto a destra */
  margin-left: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff; /* Lo rendiamo bianco per farlo risaltare */
}
