<nav class="navbar">
  <div class="navbar-links">
    <img src="../../../assets/images/homeimage.png" alt="Logo" class="logo">
    <a routerLink="/" class="nav-link">Home</a>
    <img src="../../../assets/images/coursesimage.png" alt="Logo" class="logo">
    <a routerLink="/" class="nav-link">Courses</a>
    <img src="../../../assets/images/exerciseimage.png" alt="Logo" class="logo">
    <a routerLink="/" class="nav-link">Exercise</a>
    <img src="../../../assets/images/rankingimage.png" alt="Logo" class="logo">
    <a routerLink="/" class="nav-link">Ranking</a>
  </div>
  <a routerLink="/login" class="nav-link login-btn">Login</a>
</nav>
