.avatar-container{
  height: 60px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 1.2rem 4rem;
  background: transparent;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.75rem;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 0.8rem 1.5rem 1rem;
}

.nav-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.3s forwards;
}


.nav-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.3);
}

.nav-link {
  color: #aaa;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-item:hover .nav-link {
  background: linear-gradient(90deg, #a56cff, #d892ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}



.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.login-btn {
  position: absolute;
  color: #aaa;
  top: 1.2rem;
  right: 4rem;
  z-index: 101;
  border-radius: 8px;

  padding: 0.8rem 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
.login-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.3);
  background: linear-gradient(90deg, #a56cff, #d892ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
