<nav class="navbar">
  <div class="navbar-links">
    <a routerLink="/" class="nav-item">
      <img src="../../../assets/images/homeimage.png" alt="Home icon" class="nav-icon">
      <span class="nav-link">Home</span>
    </a>
    <div class="nav-item-container" (mouseenter)="showDropdown('courses')" (mouseleave)="hideDropdown()">
      <a routerLink="/courses-home" class="nav-item"> <img src="../../../assets/images/coursesimage.png" alt="Courses icon" class="nav-icon">
        <span class="nav-link">Courses</span>
      </a>
      @if(activeDropdown === 'courses' ){
        <app-dropdown-menu [items]="courseItems" class="dropdown-menu"></app-dropdown-menu>
      }

    </div>
    <div class="nav-item-container" (mouseenter)="showDropdown('exercises')" (mouseleave)="hideDropdown()">
      <a routerLink="/exercises" class="nav-item">
        <img src="../../../assets/images/exerciseimage.png" alt="Exercise icon" class="nav-icon">
        <span class="nav-link">Exercise</span>
      </a>
      @if(activeDropdown === 'exercises' ){
      <app-dropdown-menu [items]="exerciseItems" class="dropdown-menu"></app-dropdown-menu>
      }
    </div>
    <a routerLink="/ranking" class="nav-item">
      <img src="../../../assets/images/rankingimage.png" alt="Ranking icon" class="nav-icon">
      <span class="nav-link">Ranking</span>
    </a>
  </div>

  <a *ngIf="!user" routerLink="/login" class="nav-item login-btn">
    <img src="../../../assets/images/loginimage.png" alt="Login icon" class="nav-icon">
    <span class="nav-link">Login</span>
  </a>
  <a *ngIf="user" routerLink="/userBoard">
    <img [src]="'/assets/images/avatar/avatar' + (user.id_avatar || 1) + '.png'" class="avatar-container" alt="">
  </a>

</nav>
