.navbar {
  display: flex;
  align-items: center;
  padding: 1.2rem 4rem;
  background: transparent;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  color: #aaa;
  margin: 0 1.2rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  background: linear-gradient(90deg, #a56cff, #d892ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.login-btn {
  margin-top: 0.5rem;
  position: absolute;
  top: 1.2rem;
  right: 4rem;
  z-index: 101;
  border-radius: 8px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 150;
  color: #fff;
  margin-left: 1.5rem;
}
