.section-languages-container {
  margin-top: 6rem;
  padding: 0 2rem 5rem;
}

.section-languages-container .section-languages {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 5.2rem;
  padding-left: 5rem;
  padding-right: 3rem;
}

.lang-card {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s, backdrop-filter 0.3s;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.lang-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.3);
  background: rgba(39, 39, 39, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.lang-card img {
  width: 75px;
  height: 75px;
  margin-bottom: 0.5rem;
}