#Inserire dati del proprio DB e poi runnare: mvn clean spring-boot:run
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres #togliere username hardcoded
    password: 1234 #togliere password hardcoded
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
  servlet:
    session:
      # Sessione valida per 24 ore
      timeout: 86400
      cookie:
        name: JSESSIONID
        http-only: true
        secure: true
        same-site: lax