spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: false
    locations: classpath:db/migration
  sql:
    init:
      mode: always
server:
  port: 8080