#Inserire dati del proprio DB e poi runnare: mvn clean spring-boot:run
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: postgres
    password: 1887
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
