spring:
  application:
    name: UniCode

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

  mail:
    host: smtp.gmail.com
    port: 587
    username: moviestarclient@gmail.com
    password: eenu rbsi obnl hzha
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
  servlet:
    session:
      timeout: 86400
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false
        same-site: lax

app:
  mail:
    from: moviestarclient@gmail.com