@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
  margin-left: 4rem;
}

.hero-title {
  font-size: 4.5rem;
  background: linear-gradient(to right,
      rgba(195, 79, 219, 0.8) 0%,
      rgba(143, 28, 166, 0.8) 85%,
    );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: transparent;
}

.hero-subtitle {
  font-size: 1.1rem;
  line-height: 1.6;

}