<div class="boardContainer">
  <p class="boardTitle">Your Board</p>

  <div class="trophyBoard" *ngIf="!loading && topRowTrophies.length > 0">

    <div class="row justify-content-evenly mt-4 gy-5">
      <div class="col-auto text-center" *ngIf="topRowTrophies[0]">
        <div class="trophy trophy-100">
          <img [src]="topRowTrophies[0].path" alt="100 exercises" class="trophy-img"
            [class.locked]="!topRowTrophies[0].unlocked">
          <span class="trophy-label">100 Excercise completed</span>
        </div>
      </div>

      <div class="col-auto text-center" *ngIf="topRowTrophies[1]">
        <div class="trophy trophy-master highlight">
          <img [src]="topRowTrophies[1].path" alt="Code Master" class="trophy-img"
            [class.locked]="!topRowTrophies[1].unlocked">
          <span class="trophy-label">Code Master</span>
        </div>
      </div>

      <div class="col-auto text-center" *ngIf="topRowTrophies[2]">
        <div class="trophy trophy-first">
          <img [src]="topRowTrophies[2].path" alt="First position" class="trophy-img"
            [class.locked]="!topRowTrophies[2].unlocked">
          <span class="trophy-label">first position</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5 gy-5">
      <div class="col-6 col-md-3 text-center" *ngIf="bottomRowTrophies[3]">
        <div class="trophy trophy-time">
          <img [src]="bottomRowTrophies[3].path" alt="Time trophies" class="trophy-img"
            [class.locked]="!bottomRowTrophies[3].unlocked">
          <p class="trophy-label">time trophies</p>
        </div>
      </div>

      <div class="col-6 col-md-3 text-center" *ngIf="bottomRowTrophies[0]">
        <div class="trophy trophy-50">
          <img [src]="bottomRowTrophies[0].path" alt="50 exercises" class="trophy-img"
            [class.locked]="!bottomRowTrophies[0].unlocked">
          <p class="trophy-label">50 Excercise completed</p>
        </div>
      </div>

      <div class="col-6 col-md-3 text-center" *ngIf="bottomRowTrophies[2]">
        <div class="trophy trophy-python">
          <img [src]="bottomRowTrophies[2].path" alt="Python Master" class="trophy-img"
            [class.locked]="!bottomRowTrophies[2].unlocked">
          <p class="trophy-label">Python Master</p>
        </div>
      </div>

      <div class="col-6 col-md-3 text-center" *ngIf="bottomRowTrophies[1]">
        <div class="trophy trophy-20">
          <img [src]="bottomRowTrophies[1].path" alt="20 exercises" class="trophy-img"
            [class.locked]="!bottomRowTrophies[1].unlocked">
          <p class="trophy-label">20 Excercise completed</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && topRowTrophies.length === 0" class="noTrophiesMessage">
    No trophies available. Please log in.
  </div>
</div>