.boardContainer{
  height: 750px;
  width: 800px;
  background-color: #2b2b2b;
  border-radius: 30px;
  box-shadow:
    inset 6px 6px 12px rgba(0,0,0,0.3),
    10px 10px 10px 10px rgba(0,0,0,0.3);
}

.boardTitle {
  color: white;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  font-family: 'Inconsolata', monospace;
}

.trophyItem-20{
  position: relative;
  height: 120px;
  width: 120px;
  background: linear-gradient(to bottom, #613287, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 30px;
}

.trophyItem-50{
  position: relative;
  height: 120px;
  width: 120px;
  background: linear-gradient(to bottom, #137731, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 30px;
}

.trophyItem-100{
  position: relative;
  height: 150px;
  width: 150px;
  background: linear-gradient(to bottom, #504954, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.trophyItem-codeMaster{
  position: relative;
  height: 150px;
  width: 150px;
  background: linear-gradient(to bottom, #6C603C, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.trophyItem-firstPosition{
  position: relative;
  height: 150px;
  width: 150px;
  background: linear-gradient(to bottom, #7D2B2B, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.trophyItem-time{
  position: relative;
  height: 120px;
  width: 120px;
  background: linear-gradient(to bottom, #70533C, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 30px;

}

.trophyItem-python{
  position: relative;
  height: 120px;
  width: 120px;
  background: linear-gradient(to bottom, #1D242E, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 30px;
}


.trophyBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.topRow{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  margin-top: 90px;
}

.topRow .hightlight{
  margin-bottom: 50px;
}

.bottomRow{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.trophyDescription {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  opacity: 0.9;
  max-width: 100px;
  font-family: 'Inconsolata', monospace;
}

.topTrophyImage{
  height: 270px;
  width: 190px;
  position: absolute;

  object-fit: contain;

  filter: grayscale(0%);
  transition: all 0.3s ease;
}

.topTrophyImage.locked{
  filter: grayscale(100%) brightness(60%);
}

.bottomTrophyImage{
  height: 200px;
  width: 160px;
  object-fit: contain;
  position: absolute;
  filter: grayscale(0%);
  transition: all 0.3s ease;
}
.bottomTrophyImage.locked{
  filter: grayscale(100%) brightness(60%);
}
