<!DOCTYPE html>
<html lang="en">
<body>

<div class="boardContainer">
  <p class="boardTitle">Your Board</p>

  <div class="trophyBoard">

    <div class="topRow">
        <div class="trophyItem-100">
          <div class="trophyIconLight-purple"></div>
          <span class="trophyDescription">100 Excercise completed</span>
        </div>

        <div class="trophyItem-codeMaster hightlight">
          <div class="trophyIconGold"></div>
          <span class="trophyDescription">Code Master</span>
        </div>

        <div class="trophyItem-firstPosition">
          <div class="trophyIconDark-red"></div>
          <span class="trophyDescription">first position</span>
        </div>
    </div>

    <div class="bottomRow">
        <div class="trophyItem-time">
          <div class="trophyIconBrown"></div>
          <p class="trophyDescription">time trophies</p>
        </div>

        <div class="trophyItem-50">
          <div class="trophyIconGreen"></div>
          <p class="trophyDescription">50 Excercise completed</p>
        </div>

        <div class="trophyItem-python">
          <div class="trophyIconDark-blue"></div>
          <p class="trophyDescription">Python Master</p>
        </div>

        <div class="trophyItem-20">
          <div class="trophyIconPurple"></div>
          <p class="trophyDescription">20 Excercise completed</p>
        </div>
    </div>

  </div>

</div>
</body>
</html>
