<!DOCTYPE html>
<html lang="en">
<body>

<div class="boardContainer">
  <p class="boardTitle">Your Board</p>

  <div class="trophyGrid">

    <div class="trophyItem trophyItem-100">
      <div class="trophyIcon light-purple"></div>
      <p class="trophyDescription">100 Excercise completed</p>
    </div>

    <div class="trophyItem trophyItem-codeMaster">
      <div class="trophyIcon gold"></div>
      <p class="trophyDescription">Code Master</p>
    </div>

    <div class="trophyItem trophyItem-firstPosition">
      <div class="trophyIcon dark-red"></div>
      <p class="trophyDescription">first position</p>
    </div>

    <div class="trophyItem trophyItem-time">
      <div class="trophyIcon brown"></div>
      <p class="trophyDescription">time trophies</p>
    </div>

    <div class="trophyItem trophyItem-50">
      <div class="trophyIcon green"></div>
      <p class="trophyDescription">50 Excercise completed</p>
    </div>

    <div class="trophyItem trophyItem-python">
      <div class="trophyIcon dark-blue"></div>
      <p class="trophyDescription">Python Master</p>
    </div>

    <div class="trophyItem trophyItem-20">
      <div class="trophyIcon purple"></div>
      <p class="trophyDescription">20 Excercise completed</p>
    </div>

  </div>

</div>
</body>
</html>
