.boardContainer{
  height: 750px;
  width: 800px;
  background-color: #2b2b2b;
  border-radius: 30px;
  max-width: 900px;
}

.boardTitle {
  color: white;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  font-family: 'Inconsolata', monospace;
}

