<section class="section-info">
  @if (tallCard) {
    <div class="info-card info-card-tall">
      <h3 class="info-card-text-big">{{ tallCard.title }}</h3>
      <p class="info-card-text-small" [innerHTML]="tallCard.text"></p>
      <img [src]="tallCard.iconPath" class="card-background-icon" loading="lazy" alt="">
    </div>
  }

  <div class="short-cards-column">
    @for (card of shortCards; track card.title) {
      <div class="info-card info-card-short">
        <h3 class="info-card-text-big">{{ card.title }}</h3>
        <p class="info-card-text-small" [innerHTML]="card.text"></p>
        <img [src]="card.iconPath" class="card-background-icon" loading="lazy" alt="">
      </div>
    }
  </div>
</section>
