.section-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
  padding: 0 2rem;
}

.info-card {
  background: linear-gradient(
      to bottom,
      rgba(39, 39, 39, 0.9) 20%,
      rgba(80, 80, 80, 0.5) 50%,
      rgba(0,0,0,0) 100%
  );
  border-radius: 1rem;
  padding: 3rem;
  position: relative;
  width: 450px;
  text-align: left;
  backdrop-filter: blur(5px);
  transition: box-shadow 0.3s;
  cursor: default;
}

.info-card:hover {
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.3);
}

.info-card-tall {
  min-height: 400px;
}


.short-cards-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-background-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 200px;
  height: 200px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.info-card-text-small{
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1.2rem;
}
.info-card-text-big{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
