.section-languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  margin-top: 6rem;
  padding: 0 4rem 5rem;

}
.section-languages-container{
}
.lang-card {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.lang-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(150, 0, 255, 0.3);
}

.lang-card img {
  width: 75px;
  height: 75px;
  margin-bottom: 0.5rem;
}
