.home-container {
  margin: 0;
  background: rgba(61, 60, 60, 0.9) linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 31%,
      rgba(121, 25, 142, 0.8) 67%,
      rgba(80, 10, 96, 0.8) 86%
  );
  background-blend-mode: overlay;
  color: white;
  font-family: "Inconsolata";
  min-height: 100vh;
}
