.back-link-container {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

.back-link {
  display: inline-block;
  color: #FFFFFF;
  transform: rotate(180deg);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
  -webkit-user-drag: none;
}

.back-link:hover {
  color: #8b5cf6;
  transform: translateX(-3px) rotate(180deg);
}


.register-link-container {
  margin-top: 1rem;
  text-align: center;
  color: #a0a0a0;
  font-size: 0.9rem;
  font-family: "Inconsolata";
}
