.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.images {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  object-fit: cover;
}

.position-number {
  font-size: 1.2rem;
  font-weight: 700;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.userName {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0;
  font-family: "Inconsolata";
}

.points {
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 5px;
  font-family: "Inconsolata";
}


:host(.first) {
  order: 2;
  width: 150px;
}

:host(.first) .images {
  width: 150px;
  height: 150px;
}

:host(.first) .userName {
  font-size: 1.1rem;
}

:host(.first) .points {
  font-size: 1.8rem;
}

:host(.second) {
  order: 1;
}

:host(.second) .images {
  width: 100px;
  height: 100px;
}

:host(.third) {
  order: 3;
}

:host(.third) .images {
  width: 100px;
  height: 100px;
}