
.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.images {

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;


}

.position-number {
  font-size: 1.2rem;
  font-weight: 700;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.userName {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0;
  font-family: "Inconsolata";
}

.points {
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 5px;
  font-family: "Inconsolata";
}


:host(.position-1) {
  order: 2;
  width: 150px;
}
:host(.position-1 .images){
  width: 150px;
  height: 150px;
}
:host(.position-1 .userName){
  font-size: 1.1rem;
}
:host(.position-1 .points ){
  font-size: 1.8rem;
}

:host(.position-2) {
  order: 1;
}
:host(.position-2 .images ){
  width: 100px;
  height: 100px;
}

:host(.position-3) {
  order: 3;
}
:host(.position-3 .images) {
  width: 100px;
  height: 100px;
}



