
.podium-item {
  display: flex;
  flex-direction: column; /* Impila gli elementi in verticale */
  align-items: center;    /* Centra gli elementi orizzontalmente */
  width: 150px; /* Dà una larghezza a ogni colonna */
}

.images {

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;


}

/* --- Stili per il Testo --- */
.position-number {
  font-size: 1.2rem;
  font-weight: 700;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.userName {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 0;
  font-family: "Inconsolata";
}

.points {
  font-size: 1.3rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 5px;
  font-family: "Inconsolata";
}


/* #1 (Primo Posto) */
:host(.position-1) {
  order: 2; /* Ordine Flexbox: lo mette al centro (1, 2, 3) */
  width: 150px; /* Più largo */
}
:host(.position-1 .images){
  width: 150px;
  background-color: #FFFFFF;
  height: 150px;
}
:host(.position-1 .userName){
  font-size: 1.1rem;
}
:host(.position-1 .points ){
  font-size: 1.8rem;
}

/* #2 (Secondo Posto) */
:host(.position-2) {
  order: 1; /* Ordine Flexbox: lo mette a sinistra */
}
:host(.position-2 .images ){
  width: 100px;
  background-color: #000000;
  height: 100px;
}

/* #3 (Terzo Posto) */
:host(.position-3) {
  order: 3; /* Ordine Flexbox: lo mette a destra */
}
:host(.position-3 .images) {
  width: 100px;
  background-color: #3c3c3c;
  height: 100px;
}



