.setting-container{
  background-color: #171717;
  min-height: 100vh;
}

.contentWrapper{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
  padding: 24px;
}

body{
  margin: 0;
}
