.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 60px;
}
.userName{
  font-family: 'Inconsolata', monospace;
  font-size: 1.15rem;
  margin:0;
  color: #ddd;
  padding-left: 40px;
}

.itemContainer{
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  height: 65px;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.points{
  text-align: right;
  font-family: 'Inconsolata', monospace;
  padding-right: 25px;
  margin: 0;
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.6rem;
  font-weight: 550;
  color: #ddd;
}

.images{
  height: 80px;
  width: 80px;
  border-radius: 10px;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.position {
  position: absolute;
  left: -50px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #aaa;
}
