@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');

body {
  margin: 0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-title {
    font-size: 2.2rem;
    font-family: "Inconsolata";
  }

  .section-info {
    gap: 1.5rem;
  }

  .info-card {
    width: 90%;
  }

  .section-languages {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
