/* =============== HERO SECTION =============== */
.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 8rem;
  padding: 0 2rem;
}

.hero-title {
  font-size: 4.5rem;
  background: linear-gradient(90deg, #b06cff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.hero-subtitle {
  color: #bbb;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 600px;
}
