@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');

.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 8rem;
  padding: 0 2rem;
}

.hero-title {
  font-size: 4.5rem;
  background: linear-gradient(
      to top,
      rgba(84, 42, 92, 0.8) 20%,
      rgba(162, 28, 188, 0.8) 40%,
      rgba(255, 255, 255, 1) 60%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: transparent;
}

.hero-subtitle {
  font-size: 1rem;
  line-height: 1.6;

}
